@import "../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../node_modules/uikit/src/scss/mixins-theme.scss";
@import "../../node_modules/uikit/src/scss/uikit-theme.scss";

$panel_height: 64px;

* {
  box-sizing: $base-body-font-family;
}

.panel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

iframe {
  position: absolute;
  top: $panel_height;
  left: 0;
  width: 100%;
  height: 100vh;
}
.but {
  position: absolute;
  background: red;
  z-index: 999;
}
.spiner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #00000060;
  visibility: hidden;
  opacity: 0;
  transition: 0.8s all;
  &.active {
    visibility: visible;
    opacity: 1;
  }
  div {
    color: #fff;
    fill: #fff;
  }
}
